.container {
    background: rgba(11, 11, 253, 0.323);
    width: 80%;
    height: 70px;
    color: #f6f4e6;
    border: black solid 1px;
    border-radius: 4em;
    margin-top: 30px;
    justify-content: center;
    position: relative;
    left: 10%;
    border: 1px solid rgba(128, 128, 128, 0.645);
    box-shadow: 2px 2px 2px 1px rgba(22, 18, 146, 0.638);
  }

  .containerCards {
    
    display: flex;
    margin: 1em;
    color: #32312d;
    align-items: center;
    justify-content:space-around;
    
  }

  .button{
    border-radius: 30%;
    width: 110%;
    font-size: larger ;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border: 1px transparent solid;
    background-color: rgba(22, 185, 22, 0.611);
  }

  .button:hover{
    background-color: rgba(8, 72, 8, 0.611);
  }